body {
  background-color: #dff0d8;
}
h1{
  color:#7ecfc0;
}
h3{

    color:#7ecfc0;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 5%;

}
